@font-face {
  font-family: headingFont;
  src: url(../fonts/AMATICASC-REGULAR.TTF);
}

@font-face {
  font-family: contentFontHebrew;
  src: url(../fonts/GveretLevinAlefAlefAlef-Regular.ttf);
}

@font-face {
  font-family: contentFontEnglish;
  src: url(../fonts/HADASAH.TTF);
}

/* here for the purpose of the background of the page being separted from the rest */
#wrapper {
  /* background-color: #fff8e9; */
  background-image: url(../images/28.png), url(../images/7.png);
  background-position: right bottom, left bottom;
  background-repeat: no-repeat, no-repeat;
  background-size: 30vw;
}

body {
  background-color: #fff8e9;
  font-family: contentFontEnglish;
  text-align: center;
  margin: 0;
  color: #121f5f;
}

.header {
  /* transition: 2s; */
  z-index: 9;
  font-family: headingFont;
  font-size: 6vw;
  padding-bottom: 20%;
  padding-top: 12%;
  background-image: url(../images/wreath.png);
  background-position: center bottom;
  background-repeat: no-repeat;
  background-size: cover;
}

/* #header-wrapper {
  z-index: 5;
  position: fixed;
  top: 0;
  height: 40vh;
  width: 100vw;
  background: linear-gradient(
    180deg,
    rgba(255, 248, 233, 1) 0%,
    rgba(255, 248, 233, 0) 80%
  );
} */

.header h1 {
  transition: 1s;
  margin: auto;
}

.navigation {
  z-index: 10;
  background-color: #eac370c7;
  position: fixed;
  width: 100%;
  min-height: fit-content;
  top: 0;
  overflow: auto;
}

.nav-btn {
  transition: 300ms;
  font-weight: bold;
  line-height: 2em;
  cursor: pointer;
  font-size: 3.5vw;
  list-style: none;
  width: 25%;
  float: left;
}

.nav-btn:hover {
  transition: 300ms;
  background-color: rgba(255, 208, 106, 0.155);
  text-shadow: 0.1em 0.1em 0.1em #ac8d4a77;
  box-shadow: 0em 0em 1em #70592981;
}

.nav-btn:active {
  transition: 200ms;
  background-color: rgba(255, 208, 106, 0);
  box-shadow: 0em 0em 2em #fffbf1;
  color: #1c2553;
  text-shadow: none;
}

ul {
  margin-block-start: 0;
  margin-block-end: 0;
  padding-inline-start: 0;
}

.content {
  z-index: 9;
  width: 50vw;
  margin: auto;
}

.content h2 {
  font-size: 7vw;
  margin-top: 3vh;
  margin-bottom: 0;
  background-color: rgba(0, 0, 0, 0);
}

.content p {
  font-size: 4vw;
}

#rsvp_form {
  visibility: hidden;
  background-color: #eac3707d;
  padding: 10%;
  font-size: 4vw;
}

#RSVP_button {
  cursor: pointer;
  background-color: #eac3707d;
}

footer {
  height: 2vh;
}

html {
  scroll-behavior: smooth;
  scroll-padding-top: 7vw;
}

a {
  all: unset;
}

.showtheway {
  padding: 1vw;
}

#venue_logo {
  margin-top: 3%;
  margin-bottom: 3%;
  max-width: 60%;
  cursor: pointer;
}

/* Back to top button */
#back-to-top {
  cursor: pointer;
  position: fixed;
  z-index: 10;
  bottom: 4vmin;
  right: 4vmin;
  height: 3em;
  width: 3em;
  line-height: 3em;
  font-size: 4vmin;
  border-radius: 50%;
  border: none;
  background-color: #ca9e3f9c;
  color: #fff8e9;
  box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.427);
}

#back-to-top:hover {
  background-color: #ca9e3fd6;
  color: #fff8e9;
}

#back-to-top:active {
  background-color: #d6a742db;
  box-shadow: 0px 0px;
  color: #fff8e9;
}

/* for mobile devices*/
@media only screen and (max-width: 600px) {
  .header {
    animation: 2s fadeIn;
    font-size: 7vw;
    height: 75vh;
    margin-top: 8vh;
    background-image: url(../images/wreath.png);
    background-position: center bottom;
    background-repeat: no-repeat;
    background-size: cover;
  }

  #names-header {
    position: relative;
    margin-top: 24vh;
    animation-name: growIn;
    animation-duration: 3s;
    animation-fill-mode: forwards;
  }

  #date-header {
    animation-name: growIn;
    animation-duration: 4s;
    animation-fill-mode: forwards;
  }

  @keyframes growIn {
    0% {
      font-size: 10vw;
      opacity: 20%;
    }
    50% {
      font-size: 12vw;
    }
    100% {
      font-size: 17vw;
      opacity: 100%;
    }
  }

  .content {
    animation: 4s fadeIn;
    animation-fill-mode: forwards;
    visibility: hidden;
  }

  @keyframes fadeIn {
    0% {
      opacity: 0;
    }

    100% {
      visibility: visible;
      opacity: 1;
    }
  }

  .navigation {
    z-index: 10;
    background-color: #eac370c7;
    position: fixed;
    width: 100%;
    min-height: fit-content;
    top: 0;
    overflow: auto;
  }

  .nav-btn {
    transition: 300ms;
    font-weight: bold;
    line-height: 2.5em;
    cursor: pointer;
    font-size: 5vw;
    list-style: none;
    width: 25%;
    float: left;
  }

  .nav-btn:hover {
    transition: 300ms;
    background-color: rgba(255, 208, 106, 0.155);
    text-shadow: 0.1em 0.1em 0.1em #ac8d4a77;
    /* box-shadow: inset 0em 0em 1em #ffffffd9; */
    box-shadow: 0em 0em 1em #70592981;
  }

  .nav-btn:active {
    transition: 300ms;
    background-color: rgba(255, 208, 106, 0);
    box-shadow: 0em 0em 2em #fffbf19a;
    color: #1c2553;
    text-shadow: none;
  }
}
