@font-face {
  font-family: headingFont;
  src: url(../fonts/AMATICASC-REGULAR.TTF);
}

@font-face {
  font-family: contentFontHebrew;
  src: url(../fonts/GveretLevinAlefAlefAlef-Regular.ttf);
}

@font-face {
  font-family: contentFontEnglish;
  src: url(../fonts/HADASAH.TTF);
}

/* here for the purpose of the background of the page being separted from the rest */
#wrapper {
  background-color: #fff8e9;
  background-image: url(../images/28.png), url(../images/7.png);
  background-position: right bottom, left bottom;
  background-repeat: no-repeat, no-repeat;
  background-size: 30vw;
}

body {
  font-family: contentFontEnglish;
  text-align: center;
  margin: 0;
  color: #121f5f;
  /* opacity: 100%; */
}

.header {
  font-family: headingFont;
  z-index: 9;
  font-size: 6vw;
  padding-bottom: 20%;
  padding-top: 10%;
  background-image: url(../images/wreath.png);
  background-position: center bottom;
  background-repeat: no-repeat;
  background-size: cover;
}

.header h1 {
  margin: auto;
}

.navigation {
  z-index: 10;
  background-color: #eac370c7;
  position: fixed;
  width: 100%;
  padding: 1.6vh 0;
  top: 0;
  font-size: 4vw;
}

ul {
  margin-block-start: 0;
  margin-block-end: 0;
  padding-inline-start: 0;
}

li {
  font-weight: bold;
  padding-left: 2svw;
  padding-right: 2vw;
  list-style: none;
  display: inline-block;
  clear: left;
  cursor: pointer;
}

.content {
  /* transform: translateY(-40vh); */
  /* margin: auto 20vw; */
  width: 50vw;
  margin: auto;
}

.content h2 {
  font-size: 7vw;
  margin-top: 3vh;
  margin-bottom: 0;
}

.content p {
  font-size: 4vw;
}

#rsvp_form {
  /* visibility: hidden; */
  background-color: #eac3707d;
  padding: 10%;
  font-size: 4vw;
}

#RSVP_button {
  cursor: pointer;
  background-color: #eac3707d;
}

footer {
  height: 2vh;
}

html {
  scroll-behavior: smooth;
  scroll-padding-top: 7vw;
}

a {
  all: unset;
}
